fastapi
uvicorn[standard]
pydantic
python-dotenv
langchain
langchain-huggingface
langchain-chroma
langgraph
sentence-transformers
python-docx
python-pptx
datasets
pytest
httpx
sqlalchemy
psycopg2-binary
python-jose[cryptography]
email-validator
python-multipart
bcrypt
